{% extends 'base.html' %}

{% block content %}
<h1 id="main-title">Main Server</h1>
{% for sheet, files in data.items() %}
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('read_content', sheet=sheet, file_name=file.name) }}" class="file-link" data-title="{{ file.name }}">{{ file.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function loadTextOneCharAtATime(element, text) {
            return new Promise(resolve => {
                let index = 0;
                const interval = setInterval(function () {
                    if (text[index] === '\n') {
                        element.innerHTML += '<br>';
                    } else {
                        element.innerHTML += text[index];
                    }
                    index++;
                    if (index === text.length) {
                        clearInterval(interval);
                        resolve();
                    }
                }, 50);
            });
        }

        const fileLinks = document.getElementsByClassName('file-link');

        Array.from(fileLinks).forEach(link => {
            const titleText = link.getAttribute('data-title');
            link.innerHTML = '';  // Clear existing content
            loadTextOneCharAtATime(link, titleText);
        });

        // Example for the main title
        const mainTitleElement = document.getElementById('main-title');
        const mainTitleText = mainTitleElement.innerText;
        mainTitleElement.innerHTML = '';
        loadTextOneCharAtATime(mainTitleElement, mainTitleText);
    });
</script>
{% endblock %}
