<!-- templates/login.html -->

{% extends 'base.html' %}

{% block content %}

<div class="login-container">
    <!-- Login form -->
    <h1>Login</h1>
    <form method="post" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="username">Username:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            {{ form.password }}
        </div>
        <div class="form-group">
            <input type="submit" value="Login">
        </div>
    </form>

    <!-- Flash messages display -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Display current date and time -->
    <div id="currentDateTime"></div>

    <!-- Button to navigate to the request access form -->
    <div>
        <p><a href="{{ url_for('request_access') }}">Request Access</a></p>
    </div>

    <script>
        // Function to update date and time
        function updateDateTime() {
            var currentDate = new Date();
            var formattedDate = currentDate.toLocaleString();
            document.getElementById('currentDateTime').innerHTML = formattedDate;
        }

        // Call the function initially
        updateDateTime();

        // Set interval to update every second
        setInterval(updateDateTime, 1000);
    </script>

</div>
{% endblock %}
