/* static/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: black; /* sets the background color to black */
    color: #00FF00; /* sets the text color to bright green */
}

h1 {
    color: #00FF00;
}

h2 {
    font-weight: bold;
}

a {
    color: #00FF00;
}

a:hover {
    text-decoration: none;
        
}

.login-container {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #00FF00;
    border-radius: 10px;
}

/* Added styles for text input fields */
input[type="text"],
input[type="password"] {
    background-color: black; /* Background color for text fields */
    border: 1px solid #00FF00; /* Green border color for text fields */
    color: #00FF00; /* Text color for input fields */
    padding: 0.25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
}

/* Ensures password input type hides characters being typed */
input[type="password"] {
    -webkit-text-security: disc; /* For Webkit browsers */
}

/* Not all browsers support -webkit-text-security, as fallback use input attributes */
/* You can add this to your login template for better browser compatibility */
/* <input type="password" style="-webkit-text-security: disc;" /> */

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    margin: 0.5rem 0;
    color: red; /* Change as per the categories */
}

.file-content {
    margin-bottom: 2rem; /* Adds bottom margin to content for spacing */
}
.back-link {
    /* Additional styles for the back link if needed */

.content-title {
    margin-bottom: 2rem; /* Adjust the value to match the space you want */
}
.file-content {
    white-space: pre-wrap; /* Ensures content preserves white spaces and line breaks */
    margin-bottom: 2rem; /* Adjust the value to match the space from title to content */
}
.back-link {
    display: block; /* Make the link block-level to allow margins */
    margin-top: 2rem; /* Adjust the value to match the space from content to link */
}

